@use "/src/styles/_colors" as *;
@use "src/styles/fonts/_fonts" as *;

.btn {
  background-color: $dark-accent02;
  color: $dark-text;
  font-family: $font-header;
  border: 0;
  padding: 0.8rem 0;
  border-radius: 0.4rem;
  position: relative;
  cursor: pointer;
  transition: background-color 0.1s;

  &:before {
    content: "";
    position: absolute;
    inset: 0.25rem;
    border: $dark-text solid 0.18rem;
    border-radius: 0.4rem;
    transition: inset 0.1s;
  }

  &:hover {
    background-color: darken($dark-accent02, 10);

    &:before {
      inset: 0;
    }
  }
}
