@import "/src/styles/_colors";

.layout {
  width: 100%;
  position: relative;
}

.content {
  width: 100%;
  max-width: 60rem;
  color: $dark-text;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  position: relative;
}
