$dark-text: hsla(0, 0%, 95%, 1);
$dark-text-dim: hsla(0, 0%, 65%, 1);
$dark-pattern: hsla(231, 22%, 19%, 1);
$dark-accent01: hsla(34, 73%, 67%, 1);
$dark-accent02: hsla(7, 63%, 67%, 1);
$dark-bg: hsla(234, 43%, 6%, 1);
$dark-bg-card: hsla(231, 45%, 11%, 1);
