@use "sass:color";
@import "fonts/_fonts";
@import "_colors";

body,
html,
#__next {
  height: 100%;
}

body {
  background-color: $dark-bg;
  overflow-x: hidden;
}

button {
  border: 0;
  padding: 0;
  background: none;
}

p {
  margin: 0;
}
