@use "fonts/_fonts" as *;
@use "_colors" as *;
@use "sass:color";

body,
html,
#__next {
  height: 100%;
}

body {
  background-color: $dark-bg;
  overflow-x: hidden;
}

button {
  border: 0;
  padding: 0;
  background: none;
}

p {
  margin: 0;
}
