@import "/src/styles/breakpoints";

.artGrid {
  @include tablet {
    gap: 1em;
  }
}

.artImage {
  grid-column: 1 / -1;
  overflow: hidden;

  @include tablet {
    grid-column: 2 / -2;
  }

  @include desktop {
    grid-column: span 7;
    max-height: 28rem;
    gap: 1em;
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
