@import "/src/styles/breakpoints";

.artGrid {
  @include tablet {
    gap: 1em;
  }
}

.videoContainer {
  isolation: isolate;
  position: relative;
}

.placeholderImage {
  z-index: -1;
  position: absolute;
  inset: 0;
}

.artImage {
  grid-column: 1 / -1;
  overflow: hidden;
  aspect-ratio: 1 / 1;

  @include tablet {
    grid-column: 2 / -2;
  }

  @include desktop {
    grid-column: span 7;
    max-height: 28rem;
    gap: 1em;
  }

  video {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
