@import "/src/styles/fonts/fonts";
@import "/src/styles/colors";
@import "/src/styles/breakpoints";

.left {
  grid-column: 2 / span 1;

  @include tablet {
    grid-column: 2 / span 2;
  }
}

.right {
  grid-column: span 1 / -2;

  @include tablet {
    grid-column: span 2 / -2;
  }
}

.title {
  align-self: flex-start;
  writing-mode: tb;
  color: $dark-accent01;
  font-size: clamp(2.25rem, 8vw, 4rem);
  font-family: $font-header;
  font-weight: 700;
  position: relative;

  h2 {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1em;
    margin: 0;
  }
}

.pattern {
  content: "";
  position: absolute;
  display: flex;
  inset: 0;
  justify-content: center;
  align-items: center;
  z-index: -10;
  width: 100%;

  svg * {
    stroke: $dark-pattern;
  }
}
